.DS_Store
celerybeat.pid
django.pot
*.bak*
.vscode/
.idea
*.sln
*.pyc
*.gv
*.sql
*.env
*.pyi
*.log

static/assets*
venv
USERRES
rule_engine
profiles
debug
static_root
config/local_settings.py
dev
.env
.gtm.yaml
.gtmproject.yaml